<h1><%=@game.name%></h1>
<h2>Genre: <%= @genre.name %></h2>
<p><%= @game.description %></p>
<table>
  <% unless @existing_comments.blank? %>
      <tr><td width="200"><b>Name</b></td><td width="600"><b>Comments</b></td></tr>
      <% @existing_comments.each do |c| %>
        <tr><td width="100"><%= c.user_name %></td><td width="300"><%=c.comment_string %></td></tr>
      <% end %>
  <% end %>
</table>
<p>Please do leave some comments about this game!</p>
<p>
  <%= form_for (@comment) do |f| %>
  <div class="field">
    <%= f.label "Name" %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label "Comment" %><br />
    <%= f.text_area :comment_string %>
    <%= hidden_field_tag :game_id, @game.id %>
  </div>
  <div class="actions">
    <%= f.submit "Comment" %>
  </div>

  <%end%>
</p>
<a href="/games">Home</a>